<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Contacto</title>
    <!-- CSS principal -->
    <link rel="stylesheet" href="../css/style.css">

    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css">

    <!-- Leaflet JS -->
    <script defer src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

    <!-- Script del mapa -->
    <script defer src="../js/mapa.js"></script>

    <!-- Leaflet Routing Machine -->
    <script defer src="https://unpkg.com/leaflet-routing-machine/dist/leaflet-routing-machine.js"></script>
</head>

<body>

<header>
    <h1>TechWeb Solutions</h1>
    <nav>
        <a href="../index.html">Inicio</a>
        <a href="galeria.html">Galería</a>
        <a href="presupuesto.html">Presupuesto</a>
        <a class="activo" href="contacto.html">Contacto</a>
    </nav>
</header>

<main>
    <h2>Localización</h2>
    <div id="mapa"></div>
</main>

<footer>
    <h2>© 2026 Saúl Hinojosa</h2>
    <h2>Aviso legal - Carrer de Provença, Barcelona</h2>

    <div class="redes-sociales">
        <a href="https://facebook.com" target="_blank"><img src="../assets/icons/facebook.png"></a>
        <a href="https://twitter.com" target="_blank"><img src="../assets/icons/twitter.png"></a>
        <a href="https://instagram.com" target="_blank"><img src="../assets/icons/instagram.png"></a>
    </div>
</footer>

</body>
</html>
