<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Presupuesto</title>
    <!-- CSS principal -->
    <link rel="stylesheet" href="../css/style.css">

    <!--JS Presupuesto-->
    <script defer src="../js/presupuesto.js"></script>
</head>
<body>

<header>
    <h1>TechWeb Solutions</h1>
    <nav>
        <a href="../index.html">Inicio</a>
        <a href="galeria.html">Galería</a>
        <a class="activo" href="presupuesto.html">Presupuesto</a>
        <a href="contacto.html">Contacto</a>
    </nav>
</header>

<main>
<form id="formulario">

    <h2>Datos de contacto</h2>

    <label for="nombre">Nombre</label>
    <input type="text" id="nombre" required>

    <label for="apellidos">Apellidos</label>
    <input type="text" id="apellidos" required>

    <label for="telefono">Teléfono</label>
    <input type="text" id="telefono" required>

    <label for="email">Email</label>
    <input type="email" id="email" required>

    <label>
        <input type="checkbox" id="condiciones"> Acepto condiciones
    </label>

    <h2>Presupuesto</h2>

    <label>Tipo de Web
        <select id="producto">
            <option value="500">Web Básica - 500€</option>
            <option value="800">Web Profesional - 800€</option>
            <option value="1200">Tienda Online - 1200€</option>
        </select>
    </label>

    <label>Plazo (meses)
        <input type="number" id="plazo">
    </label>

    <label><input type="checkbox" class="extra" value="100"> SEO</label>
    <label><input type="checkbox" class="extra" value="200"> Mantenimiento</label>

    <p>Total: <span id="total">0</span> €</p>

    <button type="submit" id="btnEnviar">Enviar</button>

</form>
</main>

<footer>
    <h2>© 2026 Saúl Hinojosa</h2>
    <h2>Aviso legal - Provença, 112B, Barcelona</h2>

    <div class="redes-sociales">
        <a href="https://facebook.com" target="_blank"><img src="../assets/icons/facebook.png"></a>
        <a href="https://twitter.com" target="_blank"><img src="../assets/icons/twitter.png"></a>
        <a href="https://instagram.com" target="_blank"><img src="../assets/icons/instagram.png"></a>
    </div>
</footer>

</body>
</html>